NGINX_HTTPS_PORT=12081
NGINX_HTTP_PORT=12080

USER_NETWORK=network_test

WEB_ROOT=../www

MYSQL_PORT=51017
MYSQL_USER=root
MYSQL_ROOT_PASSWORD=SF487441711

REDIS_PORT=12084

PHPMYADMIN_PORT=51016

